@import url('https://fonts.googleapis.com/css2?family=Itim&family=Roboto:wght@400;500;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
    font-family: Roboto;
}

*:focus{
    outline: none;
}

.content{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 310px;
    margin-bottom: 10px;
    /* background-color: aqua; */
}

@media screen and (max-width: 810px) {
    .side-bar{
        display: none;
    }
    .content, .top-bar{
        margin-left: 0;
    }

}

