.stories-bar{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    /* background-color: aqua; */
    overflow: hidden;
    overflow-x: auto;
    /* z-index: 1; */
}

.wrapper-profile{
    position: relative;
    flex: 0 0 auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: linear-gradient(45deg, rgba(255,230, 0), rgba(255, 0, 128) 80%);
    margin-left: 20px;
    padding: 3px;
    transition: 1s;
}

.wrapper-profile:hover::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(207, 38, 185, 0.6);
}

.wrapper-profile img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid white;
    object-fit: cover;
}

.wrapper-profile:hover .plus-icon{
    position: absolute;
    width: 40%;
    left: 23px;
    top: 23px;
    object-fit: cover;
}
