.top-bar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin-left: 300px;
    background-color: white;
    border-bottom: 2px solid #dfdfdf;
}

.left-box{
    flex: 0 1 auto;
    width: 250px;
    height: 100%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
}

.wrapper-search-icon{
    width: 30px;
    height: 30px;
    background-color: #dfdfdf;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    border-radius: 3px;
}

.wrapper-search-icon img{
    width: 60%;
    object-fit: cover;
    margin-right: 20px;
    margin-left: 20px;
}

.left-box input{
    flex: 1 1 auto;
    width: 0px;
    height: 30px;
    margin-left: -1px;
    border: none;
    border-radius: 2px;
    background-color: #dfdfdf;
    font-size: 16px;
}

.right-box{
    flex: 0 0 auto;
    width: 250px;
    height: 100%;
    /* background-color: green; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
  

.top-noti{
    width: 80px;
    height: 40px;
    /* background-color: lawngreen; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.top-noti img{
    width: 30px;
    margin-right: 10px;
}

.top-noti:hover img{
    cursor: pointer;
}

.add-photo{
    width: 150px;
    height: 40px;
    background: linear-gradient(20deg, rgba(255, 0, 128) , rgba(255,230, 0) 100%);
    border-radius: 8px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} 

.add-photo img{
    width: 25px;
    margin-right: 10px;
}

.add-photo div{
    font-size: 18px;
    font-weight: bold;
}